大文字小文字の違いを無視する:YES
_Rename.csvを利用する:NO
_Replace.csvを利用する:YES
描画インターフェース:GRAPHICS
イメージバッファを使用する:YES
;一行の高さ:19
;文字色:192,192,192
背景色:0,0,0
選択中文字色:255,255,0
;履歴文字色:192,192,192
ボタンの途中で行を折りかえさない:NO
eramaker互換性に関する警告を表示する:NO
同名の非イベント関数が複数定義されたとき警告する:NO
解釈不可能な行があっても実行する:NO
擬似変数RANDの仕様をeramakerに合わせる:NO
全角スペースをホワイトスペースに含める:NO
ver1739以前の非ボタン折り返しを再現する:NO
サブディレクトリを検索する:YES

